<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
    $(function() {
        $( ".datepicker" ).datepicker();
    });
</script>
<form>
<p>From: <input type="text" class="datepicker" value="{{datefrom}}" name="datefrom"> - To: <input type="text" value="{{dateto}}" class="datepicker" name="dateto"></p>
<div>
    <button>Submit</button><button onClick="$('form input').val('');return false;">Reset</button>
</div>
</form>
        <div>

        </div>
        </hr>
<p>Created ads count: <span class="label label-primary">{{data.adscount}}</span></p>
<p>Registered users count : <span class="label label-primary">{{data.users}}</span></p>
        <p>Payments:</p>
<table class="table table-bordered">
    {{#each data.payments}}
    <tr>
     <td>
         <p><i>Id:</i> {{id}}</p>
         <p><i>Create time:</i> {{formatDate create_time}}</p>
         <p><i>Update time:</i> {{formatDate create_time}}</p>
         <p><i>Amount:</i> {{transactions.0.amount.total}} {{transactions.0.amount.currency}}</p>
         <p><i>Description:</i> {{transactions.0.description}}</p>
         <p><i>State:</i> {{state}}</p>
     </td>
    </tr>
    {{/each}}

</table>